$system-l0-color: #0c0c0c;
$app-l1-color: #181818;
$tile-l2-color: #242424;
$text-color: #f2f2f2;
$gray-color: #767676;
$link-blue-color: #33a3ff;
$green-color: #288964;
$yellow-color: #dcaf00;
$orange-color: #e66e19;
$red-color: #dc2d37;
$blue-color: #0082f0;
$purple-color: #8e45b0;
